/* Ümumi üslublar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}



.geri button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.geri button:hover {
    background-color: #555;
}


.country-card {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.country-flag {
    width: 30%;
    height: auto;
    border-radius: 8px;
}

.country-info {
    width: 65%;
}

.country-info h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #333;
}

.country-info p {
    margin: 8px 0;
    font-size: 1.1rem;
}

.country-info strong {
    color: #555;
}

strong {
    font-weight: bold;
    color: #444;
}

/* Responsive dizayn */
@media (max-width: 768px) {
    .country-card {
        flex-direction: column;
        align-items: center;
    }

    .country-flag {
        width: 80%;
        margin-bottom: 20px;
    }

    .country-info {
        width: 90%;
    }
}
